@model Farmers_App.Models.admin

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <!-- icon link -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!--Google reCaptcha link-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Login Form</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('../../webimages/macadamia-farming.png');
            background-size: auto;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        } 

        .form-container {
            background-color: rgba(255,255,255,0.5);
            border: 4px solid lightslategrey;
            padding: 20px;
            border-radius: 10px;
            width: 550px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            backdrop-filter: blur(5px); /* Apply blur effect */
        }

        .form-horizontal {
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group i {
            color: darkslategray;
        }

        .control-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%; /* Adjusted width */
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-default {
            background-color: lightslategrey;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 100%; /* Adjusted width */
        }

        .btn-default:hover {
            background-color: darkslategrey;
            color: white;
        }

        .text-danger {
            color: red;
        }

        label {
            font-size: 14px;
        }

        .hr {
            border: none;
            border-top: 4px solid darkslategrey;
            margin: 20px 0;
        }

        h2 {
            text-align: center;
            justify-content: center;
            color: lightslategrey;
        }

        /* Hide navbar and footer */
        .navbar {
            display: none;
        }

        footer {
            display: none;
        }

        hr {
            display: none;
        }
    </style>
</head>
<body>
    <main>
        <br />
        <br />
        <br />
        <br />
        <div class="form-container">
            <h2>Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


        <div class="form-horizontal">

            <div class="form-group">
                <i class="bx bxs-user"></i>
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                <div>

                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <i class="bx bxs-lock-alt"></i>
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                <div>

                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your password", type = "password", id = "password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="checkbox" id="showPassword" name="showPassword">
                    <label for="showPassword">Show password</label>
                </div>
            </div>
            <!-- Add reCAPTCHA checkbox -->
            <div class="g-recaptcha" data-sitekey="6Ld4rcYpAAAAAA3ZoqYBoRBTsqYuvPtfEBg5yR8Q" ></div>
            <br />
            <div class="form-group">
                <div>
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>@ViewBag.Notification</label>
                </div>
            </div>
        </div>
            }

        </div>
    </main>


    @* -------------jQuery code to show password when ckeckbox is checked -----------------*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#showPassword").click(function () {
                var passwordField = $("#password");
                passwordField.attr("type", $(this).prop("checked") ? "text" : "password");
            });
        });
    </script>

   

</body>
</html>

